 App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 }
 
 h1{
 color: white;
 }
 
 .btn{
     margin: 10px;
     padding: 10px;
     border-radius: 3px;
     background-color: rgb(228, 64, 9);
 }